<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>新規プロジェクト</title>
</head>
<body>

<div class="container">
	<h1>新規プロジェクト作成</h1>
	<p>新規プロジェクトを作成しますか?</p>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>